*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  
#bg-img{
  background-image: url('./assests/crm white img.jpg');
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

Button{
  width: 10%;
}
#con{
  text-align:right;
  padding:20px;
  color:rgb(198, 226, 43);
  font-weight: bold;
  font-size: 20px;
}

#register{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding:0;
  /* background-color:rgb(231, 233, 122); */
  }

#login{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding:0;
  }

#forgot{
  text-align: center;
  justify-content: center;
  padding:0;
  /* background-color:rgb(231, 233, 122); */
}
#reset{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding:0;
  /* background-color:rgb(231, 233, 122); */
}
h1{
  align-content: center;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

h4{
  text-align: center;
}